<div class="footer-clean ">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a [routerLink]="'/mapaWeb'">Mapa Web</a></li>
                        <li><a [routerLink]="'/declaracion'">Declaración de accesibilidad</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Sobre</h3>
                    <ul>
                        <li><a href="#">Compañía</a></li>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Legado</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><a href="#">Trabaja con nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Beneficios</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 social">
                    <p class="copyright">Restaurantes Paqui © 2023</p>
                </div>
            </div>
        </div>
    </footer>
</div>
