.menu{
    height: 100px;
}
.elementoLista{
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    right: 30px;
}

.drop{
    margin-top: 20px;
    height: 60px;
    right: 50px;
}

.logo{
    width: 120px;
    position: relative;
    right: 50px;
    bottom: 10px;
}

.input-form {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container-input {
    position: relative;
  }
  
  .input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    
  }
  
  .container-input svg {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }

.collapse{
    margin-top: 15px;
}



.collapse li{
  margin-left: 15px;
}


a.dropdown-item{
  background-color: white;
}

