<h1 class="titulo">MODIFICAR RESERVAS</h1>
<table class="table table-striped bg-light tabla">
	<thead>
		<tr>
			<th *ngFor="let columna of columnasMostradas">
                {{columna}}
            </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let reserva of reservas">
			<td>{{reserva.fecha}}</td>
			<td>{{reserva.hora}}</td>
			<td>{{reserva.nro_personas}}</td>
			<td>12€</td>
            <td><button type="button" (click)="editarReserva(reserva.id)">EDITAR</button></td>
		</tr>
	</tbody>
</table>


