.titulo{
    color: white;
    font-family: 'Fondamento', cursive;
    margin-left: 420px;
    position: relative;
    top: 50px;
  }

  div{
    margin-bottom: 200px;
    position: relative;
    top: 60px;
    left: 150px;
    background-color: lightgray;
    width: 1000px;
    border-radius: 10px;

}

p{
  margin-left: 20px;
}