<h1 class="titulo">MAPA WEB</h1>
<div>
    <ul>
        <li><a ngbDropdownItem [routerLink]="''" (click)="$event.preventDefault()">HOME</a></li>
        <li><a ngbDropdownItem [routerLink]="'/verRestaurantes'" (click)="$event.preventDefault()">UBICACIONES</a></li>
        <li><a ngbDropdownItem [routerLink]="'/reservas'" (click)="$event.preventDefault()">RESERVAS</a></li>
        <ul>
            <li><a ngbDropdownItem [routerLink]="'/misReservas'" (click)="$event.preventDefault()">VER MIS RESERVAS</a></li>
            <li><a ngbDropdownItem [routerLink]="'/altaReservas'" (click)="$event.preventDefault()">RESERVAR</a></li>
            <li><a ngbDropdownItem [routerLink]="'/editarReservas'" (click)="$event.preventDefault()">MODIFICAR RESERVA</a></li>
            <li><a ngbDropdownItem [routerLink]="'/anularReservas'" (click)="$event.preventDefault()">ANULAR RESERVA</a></li>
        </ul>
        <li><a ngbDropdownItem [routerLink]="'/register'" (click)="$event.preventDefault()">REGISTRO</a></li>
    </ul>
    
</div>

