<h1 class="titulo">RESERVAS</h1>
<div>
    <ul>
        <li><a ngbDropdownItem [routerLink]="'/misReservas'" (click)="$event.preventDefault()">VER MIS RESERVAS</a></li>
        <li><a ngbDropdownItem [routerLink]="'/altaReservas'" (click)="$event.preventDefault()">RESERVAR</a></li>
        <li><a ngbDropdownItem [routerLink]="'/editarReservas'" (click)="$event.preventDefault()">MODIFICAR RESERVA</a></li>
        <li><a ngbDropdownItem [routerLink]="'/anularReservas'" (click)="$event.preventDefault()">ANULAR RESERVA</a></li>
    </ul>
    
</div>
